// Profile
.profile-container {
  flex-direction: column;

  @include for-normal-layout {
    flex-direction: row;
    height: calc(100vh - 88px);
  }

  & .profile-sidebar {
    padding-top: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    border-right: 1px solid #ccc;

    @include for-normal-layout {
      width: 220px;
      flex-direction: column;
    }

    @media (min-width: 930px) {
      width: 300px;
    }

    @media (max-height: 700px) {
      gap: 1rem;
    }

    .user-img {
      width: 200px;
      height: 200px;
      background-image: url(../../../assets/img/user-img.png);
      background-size: contain;
      background-position: center;
      border-radius: 50%;
      margin: auto;

      @include for-normal-layout {
        margin: unset;
      }

      @media (max-height: 700px) {
        width: 150px;
        height: 150px;
      }

      &:hover {
        .user-img-hover {
          opacity: 1;
        }
      }

      .user-img-hover {
        width: 100%;
        height: 100%;
        background-color: rgba(27, 27, 27, 0.2);
        border-radius: 50%;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        opacity: 0;
        transition: 0.3s;
        cursor: pointer;
      }
    }

    & .statistics {
      border-block: 1px solid $light-grey2;
      margin-block: 1.5rem;
      width: 100%;
      margin: auto;
      justify-content: center;
      gap: 2rem;

      @include for-normal-layout {
        flex-grow: 0;
        margin: unset;
      }

      & div {
        height: 100px;
        justify-content: space-evenly;
        gap: rem(10px);
        font-family: inter;
        padding: rem(10px);

        & .amount {
          font-weight: $fw-bold;
        }
      }
    }

    & .side-nav {
      justify-content: flex-start;
      font-size: rem(20px);
      font-family: inter;
      width: 100%;
      flex-direction: row;

      @include for-normal-layout {
        flex-direction: column;
      }

      & div {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: rem(60px);
        transition: all ease-in-out $t-fast;
        flex-grow: 1;
        justify-content: center;

        @include for-normal-layout {
          flex-grow: unset;
          justify-content: start;
          padding-inline-start: 1rem;
        }

        @media (max-height: 700px) {
          height: rem(40px);
        }

        &:hover {
          background-color: $light-grey1;
        }
      }

      & .active {
        box-shadow: inset 0px -5px 0px 0px $azure;

        @include for-normal-layout {
          box-shadow: inset 5px 0px 0 $azure;
        }
      }
    }
  }

  .profile-main {

    flex-grow: 1;
    padding: 2rem;

    @include for-normal-layout {
      overflow-y: auto;
      height: calc(100vh - 88px);
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: $grey;
    }

    &::-webkit-scrollbar {
      width: 3px;
      background-color: $grey;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $green-azure;
    }

    .details {

      flex-direction: column;
      gap: 11px;

      & .greet {
        font-family: inter;
        font-size: 1.8rem;
      }

      & .last-active {
        font-size: 1.5rem;
        font-family: inter;
        color: $grey;
      }
    }
  }
}