/* Client fonts */
@font-face {
  font-family: Caveat;
  src: url("../../assets/font/for-client-use/Caveat.ttf");
}

@font-face {
  font-family: Cinzel;
  src: url("../../assets/font/for-client-use/Cinzel.ttf");
}

@font-face {
  font-family: CrimsonPro;
  src: url("../../assets/font/for-client-use/CrimsonPro.ttf");
}

@font-face {
  font-family: DancingScript;
  src: url("../../assets/font/for-client-use/DancingScript.ttf");
}

@font-face {
  font-family: Grandstander;
  src: url("../../assets/font/for-client-use/Grandstander.ttf");
}

@font-face {
  font-family: GrenzeGotisch;
  src: url("../../assets/font/for-client-use/GrenzeGotisch.ttf");
}

@font-face {
  font-family: Inconsolata;
  src: url("../../assets/font/for-client-use/Inconsolata.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../../assets/font/for-client-use/Inter.ttf");
}

@font-face {
  font-family: JetBrainsMono;
  src: url("../../assets/font/for-client-use/JetBrainsMono.ttf");
}

@font-face {
  font-family: Orbitron;
  src: url("../../assets/font/for-client-use/Orbitron.ttf");
}

@font-face {
  font-family: Oxanium;
  src: url("../../assets/font/for-client-use/Oxanium.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("../../assets/font/for-client-use/Raleway.ttf");
}

@font-face {
  font-family: RobotoMono;
  src: url("../../assets/font/for-client-use/RobotoMono.ttf");
}

@font-face {
  font-family: RobotoSlab;
  src: url("../../assets/font/for-client-use/RobotoSlab.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../../assets/font/for-client-use/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Blenda Script;
  src: url("../../assets/font/for-client-use/Blenda\ Script.otf") format("opentype");
}

@font-face {
  font-family: Literata;
  src: url("../../assets/font/for-client-use/Literata-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: Mulish;
  src: url("../../assets/font/for-client-use/Mulish-VariableFont_wght.ttf");
}

@font-face {
  font-family: Josefine Sans;
  src: url("../../assets/font/for-client-use/JosefinSans-VariableFont_wght.ttf");
}