// Colors
$black: #1e1e1e;
$light-black: #333333;
$white: #eee;
$dark-grey: #555;
$grey: #aaa;
$light-grey1: #ddd;
$light-grey2: #ccc;
$azure: #06aabf;
$green-azure: #14a78c;
$dark-blue: #295068;
$blue: #31326f;
$orange: #ff5722;
$green: #81b214;
$red: #cf0000;

// Font weights
$fw-normal: 400;
$fw-bold: 600;
$fw-extra-bold: 900;

// Transitions time
$t-fast: 0.2s;
$t-normal: 0.5s;
$t-slow: 1s;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$large-breakpoint: 1400px;

//Layout height
$frameHeight: 88px;
$frameHeightNoFooter: 52px;