.templates-page-title{
  color: $azure;
  font-size: 2rem;
  font-weight: $fw-bold;
  font-family: RobotoSlab;
  margin: 1rem;

  @include for-normal-layout{
    margin-block-start: 2rem;
  }
}

.template-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin: 1rem 1rem;
}

.template-card-container {
  @include ease-rounded-corners;
  @include aspect-ratio(390, 275);
  box-shadow: 0 0 7px 0px #e2e2e2;

  .template-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
      .template-img {
        .template-img-hover {
          opacity: 1;
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    .template-bar {
      height: 15px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      gap: 5px;
      background-color: #dfdfdf;

      .circle {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: #f5f5f5;
      }
    }

    .template-img {
      flex-grow: 1;
      background-position: 50% 50%;
      transition: 0.15s;
      background-size: cover;
      background-color: rgb(165, 235, 235);

      .template-img-hover {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.15s;

        button {
          padding: 10px 30px;
          border-radius: 30px;
          background-color: $azure;
          font-size: 22px;
          border: none;
          color: $white;
          font-family: Raleway;
          cursor: pointer;
        }
      }
    }

    .template-title {
      font-family: Raleway;
      font-size: 22px;
      padding: 10px 10px;
      color: $azure;
    }
  }
}
