.product-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-content: center;
  width: 100%;

  .product-card-img {
    height: 200px;
    width: 300px;
  }
}

.responsive-card {
  @include for-normal-layout {
    width: 50%;
  }
}
