.hero-with-navbar-container {
  @include for-normal-layout {
    height: 90vh;
  }
}

.hero-with-navbar-hamburger {
  @include for-normal-layout {
    display: none !important;
  }
}

.hero-with-navbar-nav-container {
  display: none !important;

  @include for-normal-layout {
    display: flex !important;
  }
}
