.text-before-map-text-container {
  flex-basis: 100%;
  border-radius: 20px;
  background-color: rgba($black, 0.1);
  padding: 1rem;

  @include for-normal-layout {
    border-radius: 0px;
    background-color: unset;
    padding: 0;
  }

  @include for-wide-layout {
    max-width: 500px;
  }
}
